<%= form_with(model: [@marca, tech], local: true) do |form| %>
  <% if tech.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(tech.errors.count, "error") %> prohibited this tech from being saved:</h2>
      <ul>
        <% tech.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :name, "Nombre", class: "form-label" %>
    <%= form.text_field :name, class: "form-control", required: true %>
  </div>

  <div class="mb-3">
    <%= form.label :pieces_box, "Piezas por caja", class: "form-label" %>
    <%= form.number_field :pieces_box, class: "form-control", required: true %>
  </div>

  <div class="mb-3">
    <%= form.label :m2_box, "Metros cuadrados por caja", class: "form-label" %>
    <%= form.number_field :m2_box, class: "form-control", step: 0.01, required: true %>
  </div>

  <div class="mb-3">
    <%= form.label :subcategory_id, "Subcategoria", class: "form-label" %>
    <%= form.collection_select :subcategory_id, Subcategory.all, :id, :name, { include_blank: true }, class: "form-control", required: true %>
  </div>

  <div class="d-grid">
    <%= form.submit "Guardar", class: "btn btn-primary" %>
  </div>
<% end %>