<div id="<%= dom_id tech %>" class="card mb-3">
  <div class="card-body">
    <h5 class="card-title"><%= tech.name %></h5>
    <p class="card-text">
      <strong>Formato:</strong> <%= tech.name %>
    </p>
    <p class="card-text">
      <strong>Piezas por caja:</strong> <%= tech.pieces_box %>
    </p>
    <p class="card-text">
      <strong>m2 por caja:</strong> <%= tech.m2_box %>
    </p>
    <p class="card-text">
      <strong>Marca:</strong> <%= tech.marca.name %>
    </p>
  </div>
</div>
