<div id="<%= dom_id tech %>">
  <p>
    <strong>Format:</strong>
    <%= tech.format %>
  </p>

  <p>
    <strong>Pieces box:</strong>
    <%= tech.pieces_box %>
  </p>

  <p>
    <strong>M2 box:</strong>
    <%= tech.m2_box %>
  </p>

  <p>
    <strong>Tomo calibre:</strong>
    <%= tech.tomo_calibre %>
  </p>

  <p>
    <strong>Lote:</strong>
    <%= tech.lote %>
  </p>

  <p>
    <strong>Color:</strong>
    <%= tech.color %>
  </p>

  <p>
    <strong>Marca:</strong>
    <%= tech.marca_id %>
  </p>

</div>
