<p style="color: green"><%= notice %></p>

<h1>Marcas</h1>

<div id="marcas" class="row row-cols-1 row-cols-md-3 g-4">
  <% @marcas.each do |marca| %>
    <div class="col">
      <div class="card h-100">
        <div class="card-img-top d-flex align-items-center justify-content-center" style="height: 150px; overflow: hidden;">
          <img src="<%= marca.logo %>" alt="<%= marca.name %> logo" style="max-height: 100%; max-width: 100%;">
        </div>
        <div class="card-body">
          <h5 class="card-title"><%= marca.name %></h5>
          <p class="card-text">
            <%= link_to category_subcategory_marca_path(params[:category_id], params[:subcategory_id], marca), class: "btn btn-primary" do %>
              <i class="fas fa-eye"></i> Show
            <% end %>
          </p>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="mt-4">
  <%= link_to new_category_subcategory_marca_path(params[:category_id], params[:subcategory_id]), class: "btn btn-primary" do %>
    <i class="fas fa-plus"></i> New marca
  <% end %>
  <%= link_to category_subcategory_path(params[:category_id], params[:subcategory_id]), class: "btn btn-secondary" do %>
    <i class="fas fa-arrow-left"></i> Back to subcategory
  <% end %>
</div>
