<p style="color: green"><%= notice %></p>

<%= render @marca %>

<div>
  <%= link_to "Edit this marca", edit_category_subcategory_marca_path(params[:category_id], params[:subcategory_id], @marca) %> |
  <%= link_to "Back to marcas", category_subcategory_marcas_path(params[:category_id], params[:subcategory_id]) %>

  <%= button_to "Destroy this marca", category_subcategory_marca_path(params[:category_id], params[:subcategory_id], @marca), method: :delete %>
</div>
