<div id="<%= dom_id movimiento %>">
  <p>
    <strong>Almacen:</strong>
    <%= movimiento.almacen_id %>
  </p>

  <p>
    <strong>Product:</strong>
    <%= movimiento.product_id %>
  </p>

  <p>
    <strong>Articulo:</strong>
    <%= movimiento.articulo_id %>
  </p>

  <p>
    <strong>Tipo:</strong>
    <%= movimiento.tipo %>
  </p>

  <p>
    <strong>Cantidad:</strong>
    <%= movimiento.cantidad %>
  </p>

  <p>
    <strong>Fecha:</strong>
    <%= movimiento.fecha %>
  </p>

</div>
