<div class="container-fluid">
  <div class="row">
    <%= render 'nav' %>
    <main class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
      <h1>Registrar Ingreso de Producto</h1>

      <%= form_with(model: [@almacen, @movimiento], url: create_movimiento_almacen_path(@almacen), local: true) do |form| %>
        <% if @movimiento.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@movimiento.errors.count, "error") %> prohibited this movimiento from being saved:</h2>
            <ul>
              <% @movimiento.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <div>
          <%= form.label :tipo, "Tipo de Movimiento" %>
          <%= form.select :tipo, options_for_select([['Ingreso', 'Ingreso']]) %>
        </div>
        <div>
          <%= form.label :cantidad, "Cantidad" %>
          <%= form.number_field :cantidad %>
        </div>
        <div>
          <%= form.label :fecha, "Fecha" %>
          <%= form.datetime_select :fecha %>
        </div>
        <div>
          <%= form.label :product_id, "Producto" %>
          <%= form.collection_select :product_id, Product.all, :id, :name, include_blank: true %>
          <%= link_to "Crear nuevo producto", new_product_path, class: "button" %>
        </div>
        <div>
          <%= form.submit "Registrar Ingreso" %>
        </div>
      <% end %>
      <%= link_to 'Back', @almacen %>
    </main>
  </div>
</div>
