<tr id="<%= dom_id product %>" class="table-primary">
  <td class="text-center"><%= product.name %></td>
  <td class="text-center"><%= product.calidad.name %></td>
  <% if product.calidad.name == 'primera' %>
    <td class="text-center"><%= product.tonocalibre %></td>
  <% else %>
    <td class="text-center"></td>
  <% end %>
  <% if product.tech.present? %>
    <td class="text-center"><%= product.tech.subcategory.category.name %></td>
    <td class="text-center"><%= product.tech.subcategory.name %></td>
    <td class="text-center"><%= product.tech.name %></td>
    <td class="text-center"><%= product.tech.marca.name %></td>
  <% else %>
    <td class="text-center"><%= product.subcategory.category.name %></td>
    <td class="text-center"><%= product.subcategory.name %></td>
    <td class="text-center"></td>
    <td class="text-center"><%= product.marca.name %></td>
  <% end %>
  <td class="text-center"><%= link_to "Mostrar este producto", product, class: "btn btn-info btn-sm" %></td>
</tr>
