<p style="color: green"><%= notice %></p>

<h1>Productos</h1>

<%= link_to "Crear nuevo producto", new_product_path, class: "btn btn-primary mb-3" %>

<div id="productos" class="list-group">
  <% @products.each do |product| %>
    <%= link_to product_path(product), class: "list-group-item list-group-item-action" do %>
      <h5 class="mb-1"><%= product.name %></h5>
      <p class="mb-1"><%= product.description %></p>
    <% end %>
  <% end %>
</div>



