<%= form_with(model: inventario) do |form| %>
  <% if inventario.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(inventario.errors.count, "error") %> prohibited this inventario from being saved:</h2>

      <ul>
        <% inventario.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :cantidad_disponible, style: "display: block" %>
    <%= form.text_field :cantidad_disponible %>
  </div>

  <div>
    <%= form.label :fecha_actualizacion, style: "display: block" %>
    <%= form.text_field :fecha_actualizacion %>
  </div>

  <div>
    <%= form.label :almacen_id, style: "display: block" %>
    <%= form.text_field :almacen_id %>
  </div>

  <div>
    <%= form.label :product_id, style: "display: block" %>
    <%= form.text_field :product_id %>
  </div>

  <div>
    <%= form.label :articulo_id, style: "display: block" %>
    <%= form.text_field :articulo_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
