<tr id="<%= dom_id inventario %>">
  <% if inventario.product %>
    <td><%= inventario.product.name %></td>
  <% elsif inventario.articulo %>
    <td><%= inventario.articulo.name %></td>
  <% end %>
  <td><%= inventario.cantidad_disponible %></td>
  <td><%= inventario.fecha_actualizacion %></td>
  <td><%= link_to "Show this inventario", inventario, class: "btn btn-info btn-sm" %></td>
</tr>
