<h1>Sales</h1>

<table>
  <thead>
    <tr>
      <th>Fecha</th>
      <th>Cliente</th>
      <th>Almacen</th>
      <th>Items</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sales.each do |sale| %>
      <tr>
        <td><%= sale.fecha %></td>
        <td><%= sale.cliente.name %></td>
        <td><%= sale.almacen.name %></td>
        <td>
          <ul>
            <% sale.sale_items.each do |item| %>
              <li>
                <%= item.product ? item.product.name : item.articulo.name %> - 
                <%= item.cantidad %> <%= item.unidad_de_medida %> @ <%= item.precio_unitario %>
              </li>
            <% end %>
          </ul>
        </td>
        <td><%= link_to 'Show', almacen_sale_path(sale.almacen, sale) %></td>
        <td><%= link_to 'Edit', edit_almacen_sale_path(sale.almacen, sale) %></td>
        <td><%= link_to 'Destroy', almacen_sale_path(sale.almacen, sale), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Sale', new_almacen_sale_path(@almacen) %>